@import "./_variables"
/* General Settings */
body
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: $ff
    font-weight: $fw-light
    font-size: 12px
    color: $dark
img
    width: 100%
    display: block
/* Typographie */
h1
    font-size: 1.6rem
    line-height: 1.1
h3
    letter-spacing: 4px
    text-transform: uppercase
    font-size: .8rem
p
    color: $dark-gray
    line-height: 1.5
    margin-bottom: 2em

.cta__text
    color: $dark
    font-size: .8rem
    letter-spacing: 8px
    text-transform: uppercase

/* Layout Mobile*/
.container
    width: 375px
    margin: 0 auto

.content
    padding: 4em 2.2em

/* HEADER SECTION */
.header
    position: relative

// top Navigation
.navigation
    display: flex
    align-items: center
    padding: 3em 1.5em
    position: absolute
    top: 0
    left: 0
    right: 0
    z-index: 2

.logo
    margin: 0 auto

//Navbar

.navbar
    background: $light
    position: absolute
    top: 0
    right: 0
    left: 0
    display: flex
    align-items: baseline
    justify-content: space-between
    padding: 3em 1.5em 2em
    transform: translateY(-101%)
    transition: all 300ms linear
    .nav__list
        display: flex
        list-style: none
        padding: 0
        .nav__link
            padding: 0 1.2em
            font-weight: $fw-bold
            a
                text-decoration: none
                color: inherit
                &::after
                    content: ''
                    display: block
                    background: $dark
                    width: 0%
                    height: 2px
                    margin: .3em auto 0
                    transition: all 300ms ease-in
                &:hover::after
                    width: 50%
.navbar--active
    transform: translateY(0)

.burgerBtn,
.closeBtn
    cursor: pointer
    transition: all 300ms ease
    &:hover
        transform: scale(1.1)

// Slider Navigation

.hero__image
    // position: relative
    img
        // position: absolute
        z-index: -1
.hero__nav
    position: absolute
    bottom: 0
    right: 0
    background: $dark
    z-index: 10
    display: flex

.prevBtn,
.nextBtn
    padding: 1.4em 1.8em
    cursor: pointer
    transition: background 350ms ease-in
    &:hover
        background: $darker-gray

/* HERO SECTION */

.cta
    display: flex
    align-items: baseline
    justify-content: space-between
    svg
        margin: 0 auto
.slides
    opacity: 0

.ease-out
    opacity: 0
    transition: opacity 2s

.hide
    display: none
.ease-in
    opacity: 1
    transition: opacity 2s
